rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // OPEN RULES (FOR DEVELOPMENT AS REQUESTED)
    match /{document=**} {
      allow read, write: if true;
    }
  }
}
