rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    // OPEN RULES (FOR DEVELOPMENT AS REQUESTED)
    match /{allPaths=**} {
      allow read, write: if true;
    }
  }
}
